@model IEnumerable<EksamensOpgaveBackend.Models.ProductModel>

@{
    ViewData["Title"] = "Liste af Produkter";
}

<<div class="center-container">
    <h2 class="product-list-title">@ViewData["Title"]</h2>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Billede</th>
            <th>Produktionsår</th>
            <th>Handlinger</th> <!-- Tilføjet kolonne for handlinger -->
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@Url.Content(product.ImageUrl)" alt="Produktbillede" style="width:100px; height:auto;" />
                    }
                    else
                    {
                        <span>Ingen billede</span>
                    }
                </td>
                <td>@product.YearOfProduction</td>
                <td>
                    
                    <form method="post" action="@Url.Action("Delete", "Delete", new { id = product.Id })" onsubmit="return confirm('Er du sikker på, at du vil slette dette produkt?');">
                        <button type="submit" class="btn custom-green-btn">Slet</button>

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
